{%  extends 'master.html' %}
{%  block content %}
    <form method="post" action="{% url 'proj2_app:poruke' %}">
      {% csrf_token %}
      <div class="form-group">
          <input type="text" class="form-control" id="{{ form.content.id_for_label }}" name="{{ form.content.name }}">
          {% if form.content.errors %}
              <div class="alert alert-danger">
                  <ul style="text-align: left">
                      {% for error in form.content.errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              </div>
          {% endif %}
      </div>
      <input type="submit" class="btn btn-primary mb-2" value="Post"/>
    </form>
    <form>
    <div class="list-group">
        {% for poruka in poruke %}
            <li class="list-group-item">{{poruka.created_at}} {{ poruka.owner.username }}: {{ poruka.content }}
                {% if user.is_superuser %}
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                {% endif %}
            </li>
        {% endfor %}
    </div>
        {% if user.is_superuser %}
          <input type="submit" class="btn btn-danger mb-2" value="Delete"/>
        {% endif %}
    </form>
{% endblock %}
